@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@plugin "daisyui" {
  themes: "light", "dim";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

* {
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

html,
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}


.grid-wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--color-base-200);
}

.grid-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-image: linear-gradient(to right, color-mix(in oklch, var(--color-base-content) 10%, transparent) 1px, transparent 1px),
    linear-gradient(to bottom, color-mix(in oklch, var(--color-base-content) 10%, transparent) 1px, transparent 1px);
  background-size: 20px 30px;
  -webkit-mask-image: radial-gradient(ellipse 70% 60% at 50% 0%,
      #000 60%,
      transparent 100%);
  mask-image: radial-gradient(ellipse 70% 60% at 50% 0%,
      #000 60%,
      transparent 100%);
}