name: Deploy to Production

on:
    push:
        branches:
            - master
    workflow_dispatch:

env:
    FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
    deploy:
        name: Deploy to Fly.io
        runs-on: ubuntu-latest
        environment: production

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Fly CLI
              uses: superfly/flyctl-actions/setup-flyctl@master

            - name: Set Fly Secrets
              run: |
                  flyctl secrets set \
                    NODE_ENV=production \
                    PORT=3000 \
                    NEXT_PUBLIC_API_URL="${{ vars.NEXT_PUBLIC_API_URL }}" \
                    NEXT_PUBLIC_MAX_FILE_SIZE_MB="${{ vars.NEXT_PUBLIC_MAX_FILE_SIZE_MB }}" \
                    NEXT_PUBLIC_ALLOWED_FILE_TYPES="${{ vars.NEXT_PUBLIC_ALLOWED_FILE_TYPES }}" \
                    --app  --app dms-frontendapp-prod

            - name: Deploy to Fly.io
              run: flyctl deploy --remote-only --app dms-frontendapp-prod
